<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.openeshop.shop.domain.ShopCategory">
	<cache readOnly="true" />
	<resultMap id="ShopCategory-resultMap" type="org.anttribe.openeshop.shop.domain.ShopCategory">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="picture" column="picture" />
		<result property="parentId" column="parent_id" />
		<result property="sortNo" column="sort_no" />
		<result property="treeCode" column="tree_code" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<!-- select -->
	<sql id="select">
        <![CDATA[
            SELECT t.id, t.name, t.picture, t.parent_id, t.sort_no, t.tree_code, t.create_time, t.update_time
              FROM t_shop_category_info t
        ]]>
	</sql>

	<!-- where -->
	<sql id="where">
		<where>
		    <if test="null != id and id != ''">
				AND t.id = #{id}
			</if>
		    <if test="null != name and name != ''">
				AND t.name = #{name}
			</if>
		    <if test="null != picture and picture != ''">
				AND t.picture = #{picture}
			</if>
		    <if test="null != parentId and parentId != ''">
				AND t.parent_id = #{parentId}
			</if>
		    <if test="null != sortNo and sortNo != ''">
				AND t.sort_no = #{sortNo}
			</if>
		    <if test="null != treeCode and treeCode != ''">
				AND t.tree_code = #{treeCode}
			</if>
		    <if test="null != createTime and createTime != ''">
				AND t.create_time = #{createTime}
			</if>
		    <if test="null != updateTime and updateTime != ''">
				AND t.update_time = #{updateTime}
			</if>
		</where>
	</sql>
	
	<!-- orderBy -->
	<sql id="orderBy">
	    <![CDATA[]]>
	</sql>
	
	<!-- limit -->
	<sql id="limit">
	    <if test="null != pagination">
			limit #{pagination.offset}, #{pagination.pagesize}
		</if>
	</sql>
	
	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.openeshop.shop.domain.ShopCategory">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
		    <![CDATA[ SELECT LAST_INSERT_ID() ]]>
		</selectKey>
		<![CDATA[
		    INSERT INTO t_shop_category_info(name, picture, parent_id, sort_no, tree_code, create_time, update_time)
		        VALUES(#{name}, #{picture}, #{parentId}, #{sortNo}, #{treeCode}, #{createTime}, #{updateTime})
		]]>
	</insert>
	
	<!-- batchInsert: 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List">
		<![CDATA[
		    INSERT INTO t_shop_category_info(id, name, picture, parent_id, sort_no, tree_code, create_time, update_time)
		        VALUES
		]]>
		<foreach collection="list" item="item" open="(" close=")" separator=", ">
			#{id}, 
			#{name}, 
			#{picture}, 
			#{parentId}, 
			#{sortNo}, 
			#{treeCode}, 
			#{createTime}, 
			#{updateTime}
		</foreach>
	</insert>

	<!-- update: 更新单条数据 -->
	<update id="update" parameterType="org.anttribe.openeshop.shop.domain.ShopCategory">
        <![CDATA[
            UPDATE t_shop_category_info t
        ]]>
		<set>
		    <if test="null != name and name != ''">
				t.name = #{name}
			</if>
		    <if test="null != picture and picture != ''">
				t.picture = #{picture}
			</if>
		    <if test="null != parentId and parentId != ''">
				t.parent_id = #{parentId}
			</if>
		    <if test="null != sortNo and sortNo != ''">
				t.sort_no = #{sortNo}
			</if>
		    <if test="null != treeCode and treeCode != ''">
				t.tree_code = #{treeCode}
			</if>
		    <if test="null != createTime and createTime != ''">
				t.create_time = #{createTime}
			</if>
		    <if test="null != updateTime and updateTime != ''">
				t.update_time = #{updateTime}
			</if>
		</set>
		<include refid="where"></include>
	</update>
	
	<!-- batchUpdate: 批量更新数据 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<![CDATA[
            UPDATE t_shop_category_info t
        ]]>
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="name = case id" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="null != name and name != ''">
                        when #{item.id} then #{name}
                    </if>
                </foreach>
            </trim>
			<trim prefix="picture = case id" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="null != picture and picture != ''">
                        when #{item.id} then #{picture}
                    </if>
                </foreach>
            </trim>
			<trim prefix="parent_id = case id" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="null != parentId and parentId != ''">
                        when #{item.id} then #{parentId}
                    </if>
                </foreach>
            </trim>
			<trim prefix="sort_no = case id" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="null != sortNo and sortNo != ''">
                        when #{item.id} then #{sortNo}
                    </if>
                </foreach>
            </trim>
			<trim prefix="tree_code = case id" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="null != treeCode and treeCode != ''">
                        when #{item.id} then #{treeCode}
                    </if>
                </foreach>
            </trim>
			<trim prefix="create_time = case id" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="null != createTime and createTime != ''">
                        when #{item.id} then #{createTime}
                    </if>
                </foreach>
            </trim>
			<trim prefix="update_time = case id" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="null != updateTime and updateTime != ''">
                        when #{item.id} then #{updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
		<![CDATA[
            WHERE id IN 
        ]]>
        <foreach collection="list" separator=", " item="item" open="(" close=")">
            #{item.id}
        </foreach>
	</update>

	<!-- delete: 删除单条数据 -->
	<delete id="delete" parameterType="org.anttribe.openeshop.shop.domain.ShopCategory">
	    <![CDATA[
            DELETE FROM t_shop_category_info t
        ]]>
		<include refid="where"></include>
	</delete>
	
	<!-- queryAll: 查询所有数据 -->
	<select id="queryAll" resultMap="ShopCategory-resultMap">
		<include refid="select"></include>
		<include refid="orderBy"></include>
	</select>

	<!-- queryById: 根据id查询单条数据 -->
	<select id="queryById" resultMap="ShopCategory-resultMap">
		<include refid="select"></include>
		<include refid="where"></include>
	</select>

	<!-- queryByCriteria: 根据条件查询数据 -->
	<select id="queryByCriteria" resultMap="ShopCategory-resultMap"
		parameterType="Map">
		<include refid="select"></include>
		<include refid="where"></include>
		<include refid="orderBy"></include>
	</select>
	
	<!-- queryDataCount: 根据条件查询数据条数 -->
	<select id="queryDataCount" resultMap="int" parameterType="Map">
		<![CDATA[
            SELECT COUNT(1)
              FROM t_shop_category_info t
        ]]>
		<include refid="where"></include>
	</select>
	
	<!-- queryByPagination: 根据分页条件查询数据 -->
	<select id="queryByPagination" resultMap="ShopCategory-resultMap"
		parameterType="Map">
		<include refid="select"></include>
		<include refid="where"></include>
		<include refid="orderBy"></include>
		<include refid="limit"></include>
	</select>
	
</mapper>